<a href="https://colab.research.google.com/github/CommanderWedgeAntilles/CS450/blob/master/SeniorProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [183]:

import numpy as np
import pandas as pd
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split

In [184]:
df = pd.read_csv('kingcounty.csv')
df.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [185]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       2
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [186]:
df.zipcode.unique()

array([98178, 98125, 98028, 98136, 98074, 98053, 98003, 98198, 98146,
       98038, 98007, 98115, 98107, 98126, 98019, 98103, 98002, 98133,
       98040, 98092, 98030, 98119, 98112, 98052, 98027, 98117, 98058,
       98001, 98056, 98166, 98023, 98070, 98148, 98105, 98042, 98008,
       98059, 98122, 98144, 98004, 98005, 98034, 98075, 98116, 98010,
       98118, 98199, 98032, 98045, 98102, 98077, 98108, 98168, 98177,
       98065, 98029, 98006, 98109, 98022, 98033, 98155, 98024, 98011,
       98031, 98106, 98072, 98188, 98014, 98055, 98039])

In [187]:
df.zipcode.value_counts()

98103    602
98038    590
98115    583
98052    574
98117    553
        ...
98102    105
98010    100
98024     81
98148     57
98039     50
Name: zipcode, Length: 70, dtype: int64

In [188]:
X = df[['bedrooms','bathrooms','sqft_living','floors','waterfront','view','grade','sqft_above','sqft_basement','lat','long']]#,'zipcode'needs to be broken up into boolean categories
Y = df[['price']]

In [189]:
# Import and use the train_test_split() function to split the X and y
# dataframes into training and test sets.
#
# The training data should contain 80% of the samples and
# the test data should contain 20% of the samples.


X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=.2)

In [172]:
y_train.head()

          price
2333   555000.0
18851  709050.0
20201  640000.0
5254   349000.0
6872   439000.0

In [190]:
X_train.head()

       bedrooms  bathrooms  sqft_living  ...  sqft_basement      lat     long
4371          4       1.75         1520  ...              0  47.7356 -122.191
17209         5       2.75         3090  ...              0  47.6232 -122.235
11953         4       2.50         3160  ...              0  47.6418 -122.157
13543         5       1.50         1500  ...            740  47.4692 -122.350
19102         4       2.25         3440  ...              0  47.6674 -122.055

[5 rows x 11 columns]

In [191]:
model = keras.Sequential()

In [192]:
model.add(keras.layers.Dense(11, activation='relu', input_shape=(11,)))
model.add(keras.layers.Dense(0, activation='relu'))
model.add(keras.layers.Dense(1))

model.compile(optimizer='adam', loss='mean_squared_error')

In [193]:
model.fit(X_train, y_train, epochs=30, validation_split = 0.2, callbacks =[keras.callbacks.EarlyStopping(patience=5)] )

Epoch 1/30
433/433 [==============================] - 1s 2ms/step - loss: 435449184104.9954 - val_loss: 410400325632.0000
Epoch 2/30
433/433 [==============================] - 1s 1ms/step - loss: 441649041011.6129 - val_loss: 410400325632.0000
Epoch 3/30
433/433 [==============================] - 1s 1ms/step - loss: 428278527329.9171 - val_loss: 410400325632.0000
Epoch 4/30
433/433 [==============================] - 1s 1ms/step - loss: 442534737174.4147 - val_loss: 410400325632.0000
Epoch 5/30
433/433 [==============================] - 1s 1ms/step - loss: 431192938769.6959 - val_loss: 410400325632.0000
Epoch 6/30
433/433 [==============================] - 1s 1ms/step - loss: 408596646256.0737 - val_loss: 410400325632.0000

In [194]:
model.summary()

Model: "sequential_15"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_54 (Dense)             (None, 11)                132
_________________________________________________________________
dense_55 (Dense)             (None, 0)                 0
_________________________________________________________________
dense_56 (Dense)             (None, 1)                 1
=================================================================
Total params: 133
Trainable params: 133
Non-trainable params: 0
_________________________________________________________________

In [195]:
test_data = np.array([4,	3.50,	2720,	2.0,	0,	0,	8,	2670.0,	50,	47.7034,	-122.297])

print(model.predict(test_data.reshape(1,11), batch_size=1))

WARNING:tensorflow:8 out of the last 9 calls to <function Model.make_predict_function.<locals>.predict_function at 0x7f0d35ed1b90> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
[[2.5777433]]

In [204]:
df[['price'] > 8000]

TypeError: ignored