<a href="https://colab.research.google.com/github/CommanderWedgeAntilles/CS450/blob/master/Week05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

hr = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/hr.csv')

#diverseAttributes: Sex, DOB(sample_str[-2]), RaceDesc, HispanicLatino, and CitizenDesc. 
#diverseSpread: RecruitmentSource, Department
#uniqueID EmpID
hr.head()

          Employee_Name       EmpID  ...  DaysLateLast30 AbsencesLast30
0            Brown, Mia  1103024456  ...             0.0              1
1  LaRotonda, William    1106026572  ...             0.0              2
2      Steans, Tyrone    1302053333  ...             0.0              7
3       Howard, Estelle  1211050782  ...             NaN              2
4           Singh, Nan   1307059817  ...             0.0              2

[5 rows x 28 columns]

In [ ]:
#seperate by department
production = hr[ hr['Department'] == 'Production']
itis = hr[ hr['Department'] == 'IT/IS']
sales = hr[ hr['Department'] == 'Sales']
se = hr[ hr['Department'] == 'Software Engineering']
admin = hr[ hr['Department'] == 'Admin Offices']
executive = hr[ hr['Department'] == 'Executive Office']

hr.Department.value_counts()

Production              208
IT/IS                    50
Sales                    31
Software Engineering     10
Admin Offices            10
Executive Office          1
Name: Department, dtype: int64