<a href="https://colab.research.google.com/github/CommanderWedgeAntilles/CS450/blob/master/Week05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd

hr = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/hr.csv')

#diverseAttributes: Sex, DOB(sample_str[-2]), RaceDesc, HispanicLatino, and CitizenDesc. 
#diverseSpread: RecruitmentSource, Department
#uniqueID EmpID
hr.head()

          Employee_Name       EmpID  ...  DaysLateLast30 AbsencesLast30
0            Brown, Mia  1103024456  ...             0.0              1
1  LaRotonda, William    1106026572  ...             0.0              2
2      Steans, Tyrone    1302053333  ...             0.0              7
3       Howard, Estelle  1211050782  ...             NaN              2
4           Singh, Nan   1307059817  ...             0.0              2

[5 rows x 28 columns]

In [35]:
#seperate by department
create = hr[ hr['Department'] == 'Production']
itis = hr[ hr['Department'] == 'IT/IS']
sales = hr[ hr['Department'] == 'Sales']
se = hr[ hr['Department'] == 'Software Engineering']
admin = hr[ hr['Department'] == 'Admin Offices']
executive = hr[ hr['Department'] == 'Executive Office']

In [36]:
sales.loc[:,"RaceDesc"].mode()
#White
sales.loc[:,"RaceDesc"].value_counts()

White                               14
Black or African American            9
Two or more races                    6
American Indian or Alaska Native     1
Asian                                1
Name: RaceDesc, dtype: int64

In [37]:
hr.loc[:, "Department"].value_counts()

Production              208
IT/IS                    50
Sales                    31
Software Engineering     10
Admin Offices            10
Executive Office          1
Name: Department, dtype: int64

In [38]:
itis.loc[:,"RaceDesc"].value_counts()

White                        30
Black or African American    10
Asian                         7
Two or more races             2
Hispanic                      1
Name: RaceDesc, dtype: int64

In [39]:
se.loc[:,"RaceDesc"].value_counts()

White                        5
Black or African American    3
Asian                        2
Name: RaceDesc, dtype: int64

In [40]:
admin.loc[:,"RaceDesc"].value_counts()

White                        5
Black or African American    3
Asian                        2
Name: RaceDesc, dtype: int64

In [41]:
executive.loc[:,"RaceDesc"].value_counts()

White    1
Name: RaceDesc, dtype: int64

[Simpson's Diversity Index](https://www.statisticshowto.com/simpsons-diversity-index/)

D = 1 - (sum(n(n-1)))/(N(N-1))


---


n = number of individuals of **each** race/ gender/ ect

---


N = total number of individuals of **all** races/ genders/ ect

This is what we will use to determine Diversity on a Department level basis and for the Company overall.


---

High scores(close to 1) show high diversity


---
Low scores(close to 0) show low diversity

In [ ]:
function Diversity(n,N){
    var SDI = (1-(n/N))
    return SDI
}

In [ ]:
function n(rge){
    var n
    for x in rge{
        var i = rge[x]
        n += ((i-1)*i)
    }
    return n
}

In [ ]:
function N(val){return(((val-1)*1))}

In [ ]:
function calc(x,y){
    var n = n(x)
    var N = N(y)
    var SDI = Diversity(n,N)
    return SDI
}